In [2]:
import pandas as pd

In [3]:
d=pd.read_csv("C:/Users/user/Documents/c.csv")
d.head()

    area    price
0  32000  60000.0
1  36000  30000.0
2   3200      NaN
3  35000  50000.0
4  20000      NaN

In [5]:
d["price"].mean()

46666.666666666664

In [6]:
d.fillna(d["price"].mean())

    area         price
0  32000  60000.000000
1  36000  30000.000000
2   3200  46666.666667
3  35000  50000.000000
4  20000  46666.666667

In [10]:
from word2number import w2n

In [11]:
f=pd.read_csv("C:/Users/user/Documents/word2n.csv")
f.head()

    exp
0  zero
1   one
2   two

In [12]:
f["exp"]=f["exp"].apply(w2n.word_to_num)

In [13]:
f.head()

   exp
0    0
1    1
2    2